.bg-main
{
    background-color: #164E71;
}
h1
{
    font-family: 'Fuzzy Bubbles', cursive;
    word-spacing: -12px;
}
h1 span
{
    color: darkblue;
}
body
{
    font-family: 'Raleway', sans-serif;
}
.header
{
    position: fixed;
    z-index: 200;
}
.header-logo
{
    height: 5rem;
}
.menu-bar
{
    position: fixed;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.8rem;
    border: 0.1rem solid;
    border-radius: 0.5rem;
}
.main-image
{
    height: 620px;
    background-image: url("../images/a.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}
.main-image h6
{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 35px;
    color: whitesmoke;
}
.typer , .typer_cursor
{
    font-size: 60px;
    text-align: center;
}
.main-image a
{
    display: block;
    margin-top: 50px;
    font-size: 15px;
    padding: 10px 22px;
    border: 1px solid white;
}
.navigation a
{
    text-decoration: none;
    color : black;
    font-weight: 600;
    font-size: 15px;
    display: block;
    width: 100px;
    text-align: center;
    line-height: 77px;
}
.navigation a:hover
{
    color: #164E71;
}
.navigation a:focus
{
    color: #164E71;
    border-bottom: #164E71 solid  3px;
}
.navigation-slider-open , .navigation-slider-close
{
    position: fixed;
    z-index: 1;
    width: 200px;
    height: 235px;
    top: 40px;
    right: 3px;
    transition: 1s;
}
.navigation-slider-open
{
    transform: translateY(50px);
}
.navigation-slider-close
{
    transform: translateY(-200px);
}
.navigation-slider-open a , .navigation-slider-close a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 47px;
    color: #fff;
    background-color: #447C9F;
}
.navigation-slider-open a:hover , .navigation-slider-close a:hover
{
    color: #447C9F;
    background-color: #fff;
}
.about-me
{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-me-img img
{
    width: 100%;
    margin-bottom: 30px;
    object-fit: contain;
}
.about-me-content p
{
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: justify;
}
.about-me-content a
{
    margin-top: 30px;
    padding: 10px 22px;
    background-color: #164E71;
}
.about-me-content a:hover
{
    background-color: black;
}
.skills-img
{
    height: 622px;
}
.skills-img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.skills-header
{
    position: absolute;
    max-width: 750px;
    top: 100px;
}
@media all and (min-width: 768px) and (max-width: 991px)
{
    .skills-header
    {
        width: 750px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media all and (min-width: 992px) and (max-width: 1199px)
{
    .skills
    {
        height: 622px;
    }
    .skills-header
    {
        width: 485px;
        padding: 0 15px;
        margin-left: calc(100% - 485px);
    }
}
@media all and (min-width: 1200px)
{
    .skills
    {
        height: 622px;
    }
    .skills-header
    {
        width: 585px;
        padding: 0 15px;
        margin-left: calc(100% - 585px);
    }
}
.skills-header h6
{
    font-size: 24px;
    font-weight: 600;
}
.skills-header h4
{
    margin: 30px 0 20px 0;
    font-size: 36px;
    font-weight: 600;
}
.skills-header a
{
    display: inline-block;
    margin: 35px 0 0 0;
    padding: 12px 22px;
    font-weight: 500;
}
.skills
{
    background-color: #f9f9f9;
}
.skills p
{
    font-width: 500;
    font-size: 15px;
    margin-bottom: 28px;
    color: #6E6E6E;
}
.progrees-aria
{
    padding: 81px 0;
    margin: 16px 30px 0 30px;
}
.progress-bar , .progress
{
    height: 6px;
}
.progrees-aria span
{
    position: absolute;
    display: inline-block;
    line-height: 21px;
    font-size: 10px;
    color: white;
    margin-top : -27px;
    text-align: center;
    width: 36px;
    height: 22px;
    padding: 0 8px;
    background-color: #164E71;
    border-radius: 30px;
}
.progrees-aria span:before
{
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-top: 18px;
    background-color: #164E71;
    transform: rotate(45deg);
}
@media all and (max-width: 991px)
{
    .prog-20 { margin-left: calc(20% - 40px); }
    .prog-60 { margin-left: calc(60% - 70px); }
    .prog-80 { margin-left: calc(80% - 70px); }
    .prog-90 { margin-left: calc(90% - 85px); }
}
@media all and (min-width: 991px)
{
    .prog-20 { margin-left: calc( 10% - 40px); }
    .prog-60 { margin-left: calc( 30% - 70px); }
    .prog-80 { margin-left: calc( 40% - 70px); }
    .prog-90 { margin-left: calc( 45% - 85px); }
}

/* Services */
.bg-services
{
    background-color: rgba(234,234,234,0.9);
}
.services
{
    padding: 100px 0;
}
.service-heading
{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 24px 0;
    padding: 0;
}
.services-content
{
    padding: 0 20px;
}
.service
{
    margin: 28px 15px 0 15px;
    padding: 56px 28px;
    background-color: #f9f9f9;
    text-align: center;
}

.service i
{
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #164E71;
    font-size: 22px;
    border-radius: 50%;
    border: 1px solid #164E71;
}
.content-title
{
    margin: 28px 0 18px 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.content-text
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}