.bg-main
{
    background-color: #164E71;
}
h1
{
    font-family: 'Fuzzy Bubbles', cursive;
    word-spacing: -12px;
}
h1 span
{
    color: darkblue;
}
body
{
    font-family: 'Raleway', sans-serif;
}
h4
{
    font-size: 36px;
    color: #181818;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}
.p-15
{
    padding: 0 15px 0 15px;
}
.margin-100
{
    margin-top: 100px;
    margin-bottom: 100px;
}
.padding-100
{
    padding: 100px 0;
}
.header
{
    position: fixed;
    z-index: 200;
}
.header-logo
{
    height: 5rem;
}
.menu-bar
{
    position: fixed;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.8rem;
    border: 0.1rem solid;
    border-radius: 0.5rem;
}
.main-image
{
    height: 620px;
    background-image: url("../images/a.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}
.main-image h6
{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 35px;
    color: whitesmoke;
}
.typer , .typer_cursor
{
    font-size: 60px;
    text-align: center;
}
.main-image a
{
    display: block;
    margin-top: 50px;
    font-size: 15px;
    padding: 10px 22px;
    color: white;
    border: 1px solid white;
}
.main-image a:hover
{
    background-color: white;
    color: #164E71;
}
.navigation a
{
    text-decoration: none;
    color : black;
    font-weight: 600;
    font-size: 15px;
    display: block;
    width: 100px;
    text-align: center;
    line-height: 77px;
}
.navigation a:hover
{
    color: #164E71;
}
.navigation a:focus
{
    color: #164E71;
    border-bottom: #164E71 solid  3px;
}
.navigation-slider-open , .navigation-slider-close
{
    position: fixed;
    z-index: 1;
    width: 200px;
    height: 235px;
    top: 40px;
    right: 3px;
    transition: 1s;
}
.navigation-slider-open
{
    transform: translateY(50px);
}
.navigation-slider-close
{
    transform: translateY(-200px);
}
.navigation-slider-open a , .navigation-slider-close a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 47px;
    color: #fff;
    background-color: #447C9F;
}
.navigation-slider-open a:hover , .navigation-slider-close a:hover
{
    color: #447C9F;
    background-color: #fff;
}
.about-me-img
{
    display: flex;
    justify-content: center;
}
.about-me-img img
{
    width: 100%;
    margin-bottom: 30px;
    object-fit: contain;
}
@media all and (min-width: 1200px) {
    .about-me-img img
    {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
.about-me-content p
{
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: justify;
}
.about-me-content a
{
    margin-top: 30px;
    padding: 10px 22px;
    background-color: #164E71;
}
.about-me-content a:hover
{
    background-color: black;
}
.skills-img
{
    height: 622px;
}
.skills-img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.skills-header
{
    position: absolute;
    max-width: 750px;
    top: 100px;
}
.skills-header h4
{
    text-align: left;
    color: white;
}
@media all and (min-width: 768px) and (max-width: 991px)
{
    .skills-header
    {
        width: 750px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media all and (min-width: 992px) and (max-width: 1199px)
{
    .skills
    {
        height: 622px;
    }
    .skills-header
    {
        width: 485px;
        padding: 0 15px;
        margin-left: calc(100% - 485px);
    }
}
@media all and (min-width: 1200px)
{
    .skills
    {
        height: 622px;
    }
    .skills-header
    {
        width: 585px;
        padding: 0 15px;
        margin-left: calc(100% - 585px);
    }
}
.skills-header h6
{
    font-size: 24px;
    font-weight: 600;
}
.skills-header h4
{
    margin: 30px 0 20px 0;
}
.skills-header a
{
    display: inline-block;
    margin: 35px 0 0 0;
    padding: 12px 22px;
    font-weight: 500;
}
.skills
{
    position: relative;
    background-color: #f9f9f9;
}
.skills p
{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 28px;
    color: #6E6E6E;
}
.progrees-aria
{
    position: relative;
    padding: 81px 0;
    margin: 16px 30px 0 30px;
}
.progress-bar , .progress
{
    height: 6px;
}
.progrees-aria span
{
    position: absolute;
    display: inline-block;
    line-height: 21px;
    font-size: 10px;
    color: white;
    margin-top : -27px;
    text-align: center;
    width: 36px;
    height: 22px;
    padding: 0 8px;
    background-color: #164E71;
    border-radius: 30px;
}
.progrees-aria span:before
{
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-top: 18px;
    background-color: #164E71;
    transform: rotate(45deg);
}
    .prog-20 { margin-left: calc( 20% - 35px); }
    .prog-60 { margin-left: calc( 60% - 40px); }
    .prog-80 { margin-left: calc( 80% - 45px); }
    .prog-90 { margin-left: calc( 90% - 50px); }

@media all and (min-width: 1200px)
{
    .progrees-aria
    {
        width: 70%;
    }
}
/* Services */
.bg-services
{
    background-color: rgba(234,234,234,0.9);
}
.services-content
{
    padding: 0 20px;
}
.service
{
    margin: 28px 15px 0 15px;
    padding: 56px 28px;
    background-color: #f9f9f9;
    text-align: center;
}
.service i
{
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #164E71;
    font-size: 22px;
    border-radius: 50%;
    border: 1px solid #164E71;
}
.service i
{
    transition: 300ms all ease-in-out;
}
.service:hover
{
    transition: 300ms all ease-in-out;
    box-shadow: 0 0 15px darkgray;
}
.service:hover >  i{
    background-color: #164E71;
    color: white;
    border: 1px solid white;
}
.content-title
{
    margin: 28px 0 18px 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.content-text
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.my-works-list
{
    margin-bottom: 28px;
}
.my-works-list li
{
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    color: #7B7B7B;
    padding: 12px 14px;
    margin: 0 10px 8px 10px;
    cursor: pointer;
}
.my-works-list li:hover
{
    color: #164E71;
}
.work-img
{
    margin: 20px 0;
    position: relative;
    transition: 400ms all ease-in-out;
    overflow: hidden;
}
.work-img img
{
    transition: 500ms all ease-in-out;
    width: 100%;
    object-fit: cover;
}
.work-img-overley
{
    position: absolute;
    width: 100%;
    height: 102%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:2;
    background-color: rgba(242,242,242,0.9);
    transform: scale(0);
    transition: 200ms all ease-in-out;
}
.work-img-overley p
{
    margin: 54px 0 19px 0;
    font-size: 22px;
    color: #164E71;
    font-weight: 500;
    text-align: center;
}
.work-img:hover > .work-img-overley
{
    transform: scale(1);
}
.work-img:hover > img
{
    transform: rotate(20deg) scale(1.4);
}
.link-work-img , .zoom-work-img
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    background-color: #333;
    transition: 200ms all ease-in-out;
}
.link-work-img:hover , .zoom-work-img:hover
{
    background-color: #164E71;
}

.my-experiance
{
    padding: 100px 0;
    background-image: url("../images/experience-bg.jpg");
    background-position: center;
}
.experiance
{
    margin-top: 40px;
    padding: 0 15px;
}
.experiance-item
{
    position: relative;
}
.experiance-content
{
    padding: 30px 40px;
    background-color: #fff;
}
.experiance-content h6
{
    font-size: 20px;
    color: #181818;
    font-weight: 600;
}
.experiance-content-time
{
    font-size: 14px;
    padding: 10px 0px;
    color: #164E71;
    font-weight: 600;
}
.experiance-content p
{
    text-align: justify;
}
@media all and (min-width: 992px)
{
    .experiance-circle-gray , .experiance-circle-blue
    {
        position: absolute;
        top: 26px;
        width: 18px;
        height:18px;
        border-radius: 50%;
        border: 5px solid #818181;
    }
    .experiance-circle-gray { right: -27px; }
    .experiance-circle-blue { left: -21px; }
    .left-exp .experiance-content:after
    {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 9px 0 9px 18px;
        border-color: transparent transparent transparent #fff;
        top: 40px;
        right: 20px;
    }
    .right-exp .experiance-content:after
    {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 9px 18px 9px 0;
        border-color: transparent #ffffff transparent transparent;
        top: 46px;
        left: 20px;
    }
    .margin-right { margin-right: 38px; }
    .margin-left { margin-left: 38px; }
    .margin-top { margin-top: 140px; }
    .left-exp { position: relative; }
    .left-exp:after
    {
        content: "";
        width: 4px;
        position: absolute;
        top: 44px;
        bottom: -25px;
        right: -5px;
        background: none repeat scroll 0% 0% #ddd;
    }
}
.clients
{
    margin: 80px 0;
}
.blog-post
{
    position: relative;
    margin: 28px 15px 0 15px ;
}
.blog-post-img img
{
    width: 100%;
}
.blog-post-content
{
    position: relative;
}
.blog-post-header
{
    position: absolute;
    top: -60px;
    width: 100px;
    height: 100px;
    background-color: #164E71;
}
.blog-post-header h4 , .blog-post-header p
{
    text-align: center;
}
.blog-post-text
{
    color: #595959;
    background-color: white;
    padding: 70px 20px 70px 26px;
}
.blog-post-text p
{
    padding-bottom: 7px;
}
.blog-post-text h6
{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 9px;
    color: #181818;
}
.blog-post-text i
{
    font-size: 25px;
    padding-right: 10px;
}
.blog-post-admin-name p
{
    line-height: 37px;
}
.blog-post-text a
{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 22px;
    text-decoration: none;
    color: #164E71;
    border: 1px solid #164E71;
    font-weight: 500;
}
.blog-post-text a:hover
{
    transition: all 300ms ease-in-out;
    background-color: #164E71;
    color: white;
    border: none;
}
.footer
{
    width: 100%;
    margin: 0;
    bottom: 0;
    padding: 100px 0;
    background-image: url("../images/contact.jpg");
    background-position: center;
}
.footer h4
{
    margin-bottom: 52px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #efefef;
}
.logo-contact
{
    width: 60px;
    height: 60px;
    background-color: #f0efef;
    border-radius: 50%;
}
.logo-contact i
{
    color: #164E71;
    font-size: 2rem;
}
.contact-text
{
    margin: 28px 0 56px 0;
    font-size: 15px;
    color: white;
}
.form input
{
    width: 100%;
    height: 50px;
    border: 1px solid #E4E4E4;
    margin: 20px 0 0 0;
    padding: 0 0 0 14px;
}
.message-text
{
    width: 100%;
    height: 160px;
    border: 1px solid #E4E4E4;
    margin: 20px 0 0 0;
    padding: 10px 0 0 14px;
}
.submit-msg
{
    width: 125px !important;
    background-color: transparent;
    color: white;
    border: 1px solid #E4E4E4;
    padding: 10px !important;
    margin: 42px auto 0 !important;

}
.down-footer
{
    padding: 35px 0;
    background-color: #333;
    color: #ddd;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}
@media all and (max-width: 767px) {
    .form
    {
        padding: 0 15px 0 15px;
    }
}
@media all and (min-width: 768px)
{
    .form
    {
        padding: 0 50px 0 50px;
    }
}
.client-image
{
    position: absolute;
    width: 125px;
    height: 125px;
    top: -80px;
    border: 4px solid #e1e1e1;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.client-image img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.client-text
{
    border: 1px solid lightgray;
    position: relative;
    padding: 83px 0 30px 0;
    margin: 80px 0 10px 0;
}
.client-text
{
    text-align: center;
}
.client-name
{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    padding-bottom: 7px;
    margin: 0;
}
.client-job
{
    font-style: italic;
    color: #164E71;
    font-weight: 600;
    font-size: 14px;
}
.clinet-talk
{
    width: 70%;
    margin: 0 auto;
    color: #878787;
    padding: 14px 0;
    font-size: 15px;
    text-align: center;
}
.send-up
{
    border-radius: 4px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 12;
}
.send-up a
{
    display: inline-block;
    color: white;
    padding: 8px 12px;
}